
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="alert alert-danger">Kategori Sayısı = @ViewBag.categoryCount</div>
<div class="alert alert-danger">Proje Sayısı = @ViewBag.projectCount</div>
<div class="alert alert-danger">Yetenek Sayısı = @ViewBag.skillCount</div>
<div class="alert alert-danger">Ortalama Yetenek Puanı = @ViewBag.skillAvgValue</div>
<div class="alert alert-danger">Son Eklenen Yetenek  = @ViewBag.lastSkillTitleName</div>
<div class="alert alert-danger">Asp .Net MVC proje sayısı  = @ViewBag.mvcCategoryProjectCount</div>
<div class="alert alert-warning">C# Proje Sayısı  = @ViewBag.mvcCategoryProjectCount</div>
<div class="alert alert-warning">Hobi Sayısı  = @ViewBag.hobbyCount</div>
<div class="alert alert-warning">Servis Sayısı  = @ViewBag.serviceCount</div>
<div class="alert alert-warning">Referans Sayısı  = @ViewBag.testimonialCount</div>
<div class="alert alert-warning">Banner Sayısı  = @ViewBag.bannerCount</div>
