@model List<AcunMedyaAkademiPortfolio.Models.TblTestimonial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<table class=" table table-bordered">
    <tr>
        <th>Id</th>
        <th>Isim</th>
        <th>Mesleği</th>      
        <th>Açıklama</th>      
        <th>Resim</th>
        <th>Güncelle</th>      
        <th>Sil</th>      
    </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TestimonialId</td>
                <td>@item.TestimonialName</td>
                <td>@item.TestimonialTitle</td>
                <td>@item.TestimonialDescription</td>
                <td align="center">
                    <img src="@item.TestimonialImageUrl" style="width:150px" />
                </td>
                <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-warning">Güncelle</a></td>
                <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-danger">Sil</a></td>

            </tr>

        }
</table>
<td><a href ="/Testimonial/CreateTestimonial" class="btn btn-info">Yeni Referans Ekle</a></td>

